$header-bg: #110a1d;

.header {
    // background: $header-bg;
    // overflow: hidden;
    position: relative;
    overflow: hidden;

    &__inner {
        margin: 16px 140px 0 140px;
        padding: 24px 48px;

        border: 4px solid $border-color;
        border-radius: 64px;
    }

    &__nav {
        @include flex-row(191px, center, flex-end);

        &--tablet {
            @include flex-col(30px);

            padding: 30px 10px 92px 10px;
            background-color: $bg-main;
        }
    }

    &__list {
        @include flex-row(32px);

        &--tablet {
            @include flex-col(5px);
        }
    }

    &__item {
        border: 2px solid $border-color;

        border-radius: 28px;
        padding: 13px 20px;
        width: 300px;
    }

    &__link {
        position: relative;

        line-height: 125%;

        &::after {
            @include transition(width, 0.3s, linear);

            content: " ";
            background: $border-color;
            width: 0;
            height: 3px;
            position: absolute;
            bottom: -8px;
            left: 0px;
        }

        @include hover() {
            &::after {
                width: 100%;
            }
        }
    }

    &__btns {
        @include flex-row(14px);
    }

    &__btn {
        background-color: #1e1231;
    }

    &__nav-bg {
        @include flex-row(null, null, flex-end);
        @include transition(left, 0.4s, linear);

        position: absolute;
        top: 75px;
        // top: 100%;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: rebeccapurple;

        // background: rgba(41, 41, 41, 0.6);
    }

    &--active {
        .header__nav-bg {
            left: 0;
        }
    }

    &__tablet {
        display: none;
    }

    @include media-max-xl() {
        &__inner {
            margin: 16px 40px 0 40px;
        }
        &__nav {
            justify-content: space-between;
            gap: 20px;
        }
    }

    @include media-max-lg() {
        &__inner {
            margin: 16px 16px 0 16px;
            padding: 10px 14px;
        }
    }

    @include media-max-md() {
        &__inner {
            margin: 10px 10px 0 10px;
            border-width: 2px;
        }

        &__nav {
            justify-content: flex-end;
            gap: 10px;
        }

        &__link {
            font-size: 18px;
            line-height: 133%;
        }

        &__desctop {
            display: none;
        }

        &__tablet {
            display: block;
        }
    }
}
